body{
    background-color:antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}
h1{
    text-align: center;
    color: darkblue;
    background-color: lightblue;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.text1 p{
    background-color:red;
    text-align: center;
    font-size: 20px;

    
}