body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    background-color: #7d6363;
}

caption {
    caption-side: top;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2f3640;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #60657a;
}

th {
    background-color: #383c49;
    color: white;
}

tr:nth-child(even) {
    background-color: #f1f2f6;
}

tr:hover {
    background-color: #9ca3bd;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
}
