body {
  font-family: arial;
  margin: 30px;
}

h2 {
  font-size: 18px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 600px;
  margin-top: 10px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
}